<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/loguin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <title>Loguin</title>
</head>
<body>
    <div class="form-loguin">
        <div class="card-loguin" id="cardLoguin">
            <h1 class="title-loguin">Entrar</h1>

            <form class="loguin-form">
                <div class="form-label">
                    <label for="nome" id="label-card">Nome</label>
                    <input type="text" placeholder="Nome" id="campoNome">
                </div> 
                 <div class="form-label">
                    <label for="senha" id="label-card">Senha</label>
                    <input type="text" placeholder="Senha" id="campoSenha">
                </div>
            </form>
        
        
        
        </div>

    </div>
</body>
</html>